<meta charset="UTF-8">

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
    style {
        display: none!important;
    }
    ._customer-main {
        max-width: 627px;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        margin: 0 auto;
    }
    ._customer-main__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -26px;
        box-sizing: border-box;
    }
    ._customer-main__item {
        width: 206px;
        height: 100%;
        margin: 0 10px;
        box-sizing: border-box;
    }
    ._customer-main__image {
        max-width: 206px;
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
    ._customer-main__content {
        width: 186px;
        height: 204px;
        background: #0078BF;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 18px 10px 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        margin: -30px auto 20px;
        position: relative;
        z-index: 100;
    }
    ._customer-main__title {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    ._customer-main__text {
        padding: 0 10px;
    }
    ._customer-main__link {
        width: 131px;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        color: #fff !important;
        line-height: 24px;
        box-sizing: border-box;
        border: 1px solid #fff;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }
    ._customer-main__link:hover {
        background: #fff;
        color: #0078BF !important;
    }

</style>

<div class="_customer-main">
    <h3 class="header">Приглашаем к сотрудничеству по направлениям:</h3>
    <div class="_customer-main__wrap">
        <div class="_customer-main__item">
            <img class="_customer-main__image" src="img/block_main/img-1.png" alt="">
            <div class="_customer-main__content">
                <div class="_customer-main__title">
                    ЖБИ
                </div>
                <div class="_customer-main__text">
                    Предлагаем железобетонные изделия полного цикла — от производства до монтажа на вашем объекте.
                </div>
                <a class="_customer-main__link" href="/pages/12251-zhbi">Подробнее</a>
            </div>
        </div>
        <div class="_customer-main__item">
            <img class="_customer-main__image" src="img/block_main/img-2.png" alt="">
            <div class="_customer-main__content">
                <div class="_customer-main__title">
                    Канализация и водоотведение
                </div>
                <div class="_customer-main__text">
                    Дождеприемники, системы водоотвода, колодцы. Полная комплектация заявок.
                </div>
                <a class="_customer-main__link" href="/">Подробнее</a>
            </div>
        </div>
        <div class="_customer-main__item">
            <img class="_customer-main__image" src="img/block_main/img-3.png" alt="">
            <div class="_customer-main__content">
                <div class="_customer-main__title">
                    Стройматериалы
                </div>
                <div class="_customer-main__text">
                    В ассортименте: кирпичи, бетонные блоки, тротуарная плитка, а также цемент, растворы и сыпучие материалы.
                </div>
                <a class="_customer-main__link" href="/pages/12254-stroymaterialy">Подробнее</a>
            </div>
        </div>
    </div>
</div>