<meta charset="UTF-8">

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
    style {
        display: none!important;
    }
    ._customer-goods {
        max-width: 887px;
        box-sizing: border-box;
        font-family: Roboto, Arial, sans-serif;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin: 0 auto;
    }
    ._customer-goods__ttl {
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        margin-bottom: 30px;
        display: block !important;
    }
    ._customer-goods__wrap {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -23px;
    }
    ._customer-goods__item {
        background-repeat: no-repeat;
        background-position: left center;
        width: 270px;
        padding-left: 60px;
        box-sizing: border-box;
        margin: 0 20px 20px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        min-height: 45px;
    }

</style>

<div class="_customer-goods">
    <div class="_customer-goods__ttl">ТПК «Блок» — ваш надежный партнер</div>
    <div class="_customer-goods__wrap">
        <div class="_customer-goods__item" style="background-image: url(img/block_komm/icon-1.png)">
            ЖБИ любых размеров под ваши нужды
        </div>
        <div class="_customer-goods__item" style="background-image: url(img/block_komm/icon-2.png)">
            Изготовление за 5 дней
        </div>
        <div class="_customer-goods__item" style="background-image: url(img/block_komm/icon-3.png)">
            Максимальная комплектация заявок
        </div>
        <div class="_customer-goods__item" style="background-image: url(img/block_komm/icon-4.png)">
            Быстрые поставки из наличия
        </div>
        <div class="_customer-goods__item" style="background-image: url(img/block_komm/icon-5.png)">
            Доставка точно в срок, весь заказ в 1 день
        </div>
        <div class="_customer-goods__item" style="background-image: url(img/block_komm/icon-6.png)">
            Разгрузка, подъем и монтаж изделий
        </div>
    </div>

</div>
