<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
.fc-top {
	padding: 0 0 !important;
}
._customer-footer {
	width: 100%;
	display: block;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	background: #0078BF;
}
._customer-footer__wrap {
	max-width: 1227px;
	margin: auto;
}
._customer-footer__container {
	display: flex;
	justify-content: flex-start;
	position: relative;
	box-sizing: border-box;
	padding: 40px 20px 37px;
}
._customer-footer__logo {
	display: block;
	margin-bottom: 15px;
	margin-top: 25px;
}
._customer-footer__logo-block {
	margin-right: 70px;
	text-align: center;
}
._customer-footer__cnt {
	color: #fff !important;
	margin: 0 0 7px 0 !important;
	text-decoration: none !important;
	font-weight: 300;
}
._customer-footer__cnt:hover {
	text-decoration: underline !important;
}
._customer-footer__cnt--bold {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
}
._customer-footer__catalog-block {
	display: flex;
	justify-content: flex-start;
}
._customer-footer__catalog-list {
	margin: 0 155px 0 0;
}
._customer-footer__catalog-list:last-child {
	margin-right: 0;
}
._customer-footer__contact-block {
	display: flex;
	justify-content: flex-start;
}
._customer-footer__ul {
	list-style: none !important;
	margin: 20px 0 0 0 !important;
	padding: 0;
}
._customer-footer__ul li {
	color: #ffffff;
	margin: 0 0 10px 0;
}
._customer-footer__ul ._customer-footer__address--phone {
	background: url("img/footer/phone.png") 0 no-repeat;
	padding-left: 17px;
	margin-bottom: 15px;
}
._customer-footer__ul ._customer-footer__address--phone a,
._customer-footer__ul ._customer-footer__address--mail a {
	color: #ffffff;
	text-decoration: none;
}
._customer-footer__ul ._customer-footer__address--phone a:hover {
	text-decoration: underline;
}
._customer-footer__ul ._customer-footer__address--mail a {
	line-height: 20px;
}
._customer-footer__address--mail a:hover {
	text-decoration: underline;
}
._customer-footer__ul ._customer-footer__address--mail {
	background: url("img/footer/mail.png") 0 4px no-repeat;
	padding-left: 17px;
}
._customer-footer__ul ._customer-footer__address--map {
	background: url("img/footer/maps.png") 0 4px no-repeat;
	padding-left: 17px;
	margin-bottom: 15px;
}
._customer-footer__address--map span {
	line-height: 20px;
}
._customer-footer__ul ._customer-footer__address--work {
	background: url("img/footer/clock.png") 0 2px no-repeat;
	padding-left: 17px;
}
._customer-footer__bottom {
	display: block;
	background: #00A0E3;
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
	padding: 14px 0;
	font-family:  Arial, sans-serif;
	text-transform: uppercase;
	padding-left: 10px;
}
._customer-footer__btn {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	width: 180px;
	height: 40px;
	background: linear-gradient(180deg, #FFC700 0%, #FF9900 100%);
	text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 8px rgba(255, 153, 0, 0.5);
	border-radius: 4px;
	text-align: center;
	line-height: 38px;
	margin-top: 28px;
	cursor: pointer;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}
._customer-footer__btn:hover {
	opacity: 0.9;
}
@media (max-width: 1198px) {
	._customer-footer__logo-block {
		margin-right: 65px;
	}
	._customer-footer__catalog-list {
		margin-right: 40px;
	}
}
</style>
<!--Footer-->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer-footer__wrap">
		<div class="_customer-footer__container">
			<div class="_customer-footer__catalog-block">
				<div class="_customer-footer__logo-block">
					<a class="_customer-footer__logo" href="http://www.tpkblok.ru">
						<img src="img/footer/footer-logo.png" alt="Логотип" itemprop="logo" />
					</a>
					<div class="js-apress-order-button js-get-order-form _customer-footer__btn"
						 data-company-id="98246039" data-company-name="Блок" data-company-name-rest="ТПК"
						 data-company-url="http://www.tpkblok.ru" data-ga-id="CK-1193-1"
						 data-params="{&quot;company_id&quot;:98246039}" data-statistics="1" data-type="message"
						 onclick="yaCounter46174455.reachGoal('megasite_comblock_order'); return true;">
						Обратная связь
					</div>
				</div>
				<div class="_customer-footer__catalog-list">
					<p class="_customer-footer__cnt--bold">Покупателям</p>
					<ul class="_customer-footer__ul">
						<li>
							<a class="_customer-footer__cnt" href="#">О компании</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товары и услуги</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/sales">Акции</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/reviews">Отзывы</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="_customer-footer__catalog-list">
					<p class="_customer-footer__cnt--bold">Продукция</p>
					<ul class="_customer-footer__ul">
						<li>
							<a class="_customer-footer__cnt" href="/catalog/10044-zhbi">ЖБИ</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/catalog/203572-sistemy_vodootvoda">Системы водоотвода</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/catalog/10076-kirpich_kamen_bloki">Кирпич, камень, блоки</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/catalog/10240-napolnyye_pokrytiya">Напольные покрытия</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="/catalog/119638-kanalizatsiya">Канализация</a>
						</li>
					</ul>
				</div>
				<div class="_customer-footer__contact-block">
					<div class="_customer-footer__address">
						<p class="_customer-footer__cnt--bold">Контакты</p>
						<ul class="_customer-footer__ul">
							<li class="_customer-footer__address--phone">
								<a href="tel:+73433467577" itemprop="telephone" onclick="yaCounter46174455.reachGoal('megasite_footer_tel'); return true;">+7 (343) 346-75-77</a>
							</li>
							<li class="_customer-footer__address--map" itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
								<span itemprop="addressLocality">г. Екатеринбург,<span itemprop="streetAddress">ул. Пушкина 1, офис 1</span></span><br />
								<span itemprop="addressLocality">г. Верхняя Пышма, <span itemprop="streetAddress">ул. Александра Козицына 1, офис 15</span></span>
							</li>
							<li class="_customer-footer__address--work" itemprop="openingHours" content="Mo,Tu,We,Th,Fr 09:00-12:00, 13:00-17:00">Пн-Пт 9:00-17:00, перерыв: 12:00-13:00<br>
								<span itemprop="openingHours" content="Sa 10:00-15:00">Сб 10:00-15:00</span>
							</li>
							<li class="_customer-footer__address--mail">
								<a href="mailto:сtpkblok@bk.ru" itemprop="email" onclick="yaCounter46174455.reachGoal('megasite_footer_email'); return true;">сtpkblok@bk.ru (Отдел снабжения)</a><br>
								<a href="mailto:tpkblok@mail.ru" itemprop="email" onclick="yaCounter46174455.reachGoal('megasite_footer_email'); return true;">tpkblok@mail.ru (Отдел продаж)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<meta itemprop="name" content="Торговый дом КонТРАСТ"><meta content="Mo,Tu,We,Th,Fr 09:00-18:00" itemprop="openingHours">
</footer>
<div class="_customer-footer__bottom">
	<div class="_customer-footer__wrap">
		&copy; <span itemprop="name">ТПК Блок</span>
	</div>
</div>
<!--end Footer-->